<h1> <%=" Welcome #{@user.name}!"%> </h1>

<h2> These are your spheres: <h2>
<ul>
    <% @user.spheres.each do |sphere| %>
        <li> 
            <%= link_to sphere.title, user_sphere_path(@user, sphere) %> <span/> <br> 
            <%= link_to "(Edit #{sphere.title})", edit_sphere_path(sphere) %>
            <%= button_to "Delete #{sphere.title}", sphere_path(sphere), method: :delete %>
        </li>
    <% end %>
</ul>


<p> <%= link_to "Log Out", signout_path, method: :delete %> </p>
<h3> <%= link_to "Create a new Sphere", new_user_sphere_path(@user) %> </h3>