<% if @sphere.nil? %>
<%= link_to "You do not own such a Sphere. Click here to go back to your homepage", user_path(@user)%>

<% else %>


<h1> <%= "#{@sphere.title} Sphere" %> </h1>

<p> This is the show page for this Sphere </p>
<h4> <%= link_to "Go back to your homepage", user_path(@user) %> </h4>

<h2> Goals: </h2>
<ul>
    <% @sphere.goals.each do |goal| %>
        <li> <%= link_to "Title: #{goal.title}", goal_path(goal) %> <br>
         <%= "Description: #{goal.description}" %> </li>
         <%= button_to "Delete #{goal.title}", goal_path(goal), method: :delete %> <br>
         <%= link_to "Edit this goal", edit_goal_path(goal) %> <br>
    <% end %>
    

</ul>
<h3> <%= link_to "Create a new goal", new_goal_path %> </h3>
<% end %>